<html>
<head>
  <title>Cohort Report Selection</title>
  <%= stylesheet_link_tag "form" %>
  <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
  <link href="/stylesheets/dashboard.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" language="javascript">
      <!--
      tt_cancel_destination = '/reports/select';
      tt_show = '/reports/select';
      //-->
  </script>
  <style media="print">
      button {
          display: none;
      }
      #main {
          height: 100%;
      }
  </style>
  <style>
      #Unknown {display: none;}
      #num {display: none;}
      #main {
          height: 440px;
      }

      a:link {
          color: #333366;
          text-decoration: none;
      }

      a:hover {
          color: orange !important;
          text-decoration: underline;
      }

      a:visited {
          color: #333366;
          text-decoration: none;
      }

      button {
          min-width: 150px;
      }

      .table {
          display: table;
          border-spacing: 2px;
      }

      .row {
          display: table-row;
      }

      .cell {
          display: table-cell;
          border-left: 1px solid #6281A7;
          border-bottom: 1px solid #6281A7;
          padding: 5px;
      }

      .headerCell {
          display: table-cell;
          padding: 5px;
          background-color: #6281A7;
          font-weight: normal;
          color: #fff;
      }
  </style>
  <script type="text/javascript" language="javascript">
      <!--

      function __$(id){
          return document.getElementById(id);
      }

      function expand(id){
          if(id.trim().length > 0){

              if(__$(id).style.display == "none"){
                  if(__$("__" + id)){
                      __$("__" + id).style.display = "none";
                  }
                  __$(id).style.display = "block";
                  return "/images/minus.png";
              } else {
                  __$(id).style.display = "none";
                  if(__$("__" + id)){
                      __$("__" + id).style.display = "block";
                  }
                  return "/images/plus.png";
              }
          }
      }

      function expandDiv(url, id){

          if(id.trim().length > 0){

              if(__$(id).style.display == "none"){

                  if(__$("__" + id)){
                      __$("__" + id).style.display = "none";
                  }
                  ajaxify(url, id,  "__$(id).style.display = 'block'")
                  return "/images/minus.png";
              } else {
                  __$(id).style.display = "none";
                  if(__$("__" + id)){
                      __$("__" + id).style.display = "block";
                  }
                  return "/images/plus.png";
              }
          }
      }

      function ajaxify(url, id, expr){

          var httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = function() {

              if (httpRequest && httpRequest.readyState == 4 && (httpRequest.status == 200 ||
                      httpRequest.status == 304)) {

                  var result = JSON.parse(httpRequest.responseText);

                  for (var i in result){

                      __$(result[i]["eid"]+ "_name").innerHTML = ((parseInt(i) + 1) + ". " +
                              result[i]["name"] + " <i> (" + result[i]["date"] + ")</i>");
                      __$(result[i]["eid"]+ "_obs").innerHTML = result[i]["obs"];
                  }
                  eval(expr);
              }
          };
          try {
              httpRequest.open('GET', url, true);
              httpRequest.send(null);
          } catch(e){}
      }
      //-->
  </script>
</head>
<body>
<div id="contentt">

  <div style="background-color: #fff; height: 660px; width: 99%; padding: 5px;">
    <table style="width: 100%; border: 1px solid #999; -moz-user-select: none;">
      <tr>
        <th style="font-size: 1.8em; color: #eee; background-color: #999; padding: 10px;">
          ANC C<span style="font-size: 0.8em">LINIC</span> -
          F<span style="font-size: 0.8em">ACILITY</span>
          D<span style="font-size: 0.8em">RILL-DOWN</span>
        </th>
      </tr>
      <tr>
        <td style="height: 595px; border: 1px solid #ccc; vertical-align: top;">
          <div style="width: 100%; height: 590px; overflow: auto;">
            <div class="table" style="width: 100%; ">
              <div class="row">
                <div class="headerCell">
                  Patient ID
                </div>
                <div class="headerCell">
                  Patient Name
                </div>
                <div class="headerCell">
                  Date Registered
                </div>
                <div class="headerCell">
                  Date Of Birth
                </div>
                <div class="headerCell">
                  Encounters
                </div>
              </div>

              <% @data.each do |arr| %>
                  <div class="row">
                    <div class="cell">
                      <%= arr[0] %>
                    </div>
                    <div class="cell">
                      <%= arr[1] %>
                    </div>
                    <div class="cell">
                      <%= arr[2]%>
                    </div>
                    <div class="cell">
                      <%= arr[3] %>
                    </div>
                    <div class="cell" style="vertical-align: top; padding: 0px;">
                      <div class="table">
                        <div class="row">
                          <div style="display: table-cell; padding: 0px; padding-left: 10px; padding-right: 10px;">
                            <img onclick="this.src=expandDiv(('patient_encounters?patient_id=<%= arr[5]%>'), '<%= arr[5] %>')"
                                 style="height: 32px; width: 32px; cursor: pointer;"
                                 src="/images/plus.png" />
                          </div>
                          <div id="<%= "__" + arr[5].to_s %>"
                               style="display: block; display: table-cell; vertical-align: middle; font-size: 1.5em;">
                            <%= arr[4].length %>
                          </div>
                          <div id="<%= arr[5] %>" style="display: table-cell; display: none; width: 100%;">

                            <% arr[4].each_with_index do |encounter, p| %>

                                <div id = "<%= encounter%>" style="display: table; width: 100%;">
                                  <div style="display: table-row;">
                                    <div style="display: table-cell;">
                                      <b id= "<%= encounter%>_name" style='color: #333; float: left; padding: 10px;'> </b>
                                    </div>
                                    <div style="display: table-cell;">

                                      <img onclick="this.src=expand('<%= encounter%>_obs')"
                                           style="height: 32px; width: 32px; cursor: pointer; float: right; margin-left: 20px; padding: 10px;"
                                           src="/images/plus.png" />
                                    </div>
                                  </div>
                                </div>
                                <div id= "<%= encounter%>_obs" style="display: table-cell;display:none;margin:20px;border-radius: 10px;
                                        background-color:#ee6; padding: 10px;">

                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id="nav">
    <button class="green" style="float: right; margin: 10px; width: 150px;" onclick="window.history.back()">
          <span>
            Finish
          </span>
    </button>
    <button class="blue" style="float: right; margin: 10px; width: 150px;" onclick="window.history.back()">
          <span>
            Back
          </span>
    </button>
  </div>
</div>
</body>
</html>
